<h1>Noticias de tecnología</h1>

<p>
Diam tempus accumsan
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis libero
Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt. Nec accumsan enim felis
Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.
</p>

<p>
<%= Time.now.strftime("%d-%m-%Y") %>
<%= time_ago_in_words(Time.now + 60) %>
</p>